/* GENERICS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.debug * {
    border: 1px dashed black;
}

body {
    padding-top: 120px;
    font-family: sans-serif;
}

/* UTILS */

.container {
    width: 2200px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    flex-direction: row;
}

.p-rel {
    position: relative;
}

.p-abs {
    position: absolute;
}

.p-fxd {
    position: fixed;
}

.padd-l-30 {
    padding-left: 30px;
}

.flex-end {
    justify-content: flex-end;
}

/* HEADER */

header {
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0px 3px 5px #000;
}

header .container {
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

#bg-orange {
    background-color: #EF6837;
}


#logo {
    height: 50px;
}

#img-container {
    width: 40%;
    justify-content: center;
}

#division, #personal {
    width: 30%;
    display: inline-block;
}

nav ul li a {   
    color: #FFF;
    text-decoration: none;
    padding-right: 30px;
    font-size: 28px;
    height: 80px;
    line-height: 80px;
    justify-content: flex-start;
    text-align: left;
}

li {
    list-style-type: none;
}

/* CARDS */

.row{
    padding-top: 120px;
    justify-content: space-between;
}

.card {
    width: 32%;
}

.picture {
    width: 100%;
}

.image {
    width: 100%;
}

/* DESCRIPTION */

.brand {
    text-transform: capitalize;
    font-size: 22px;
}

.description {
    text-transform: uppercase;
    font-family: bold;
    font-size: 25px;
}

.price {
    color: red;
    font-family: bold;
}

.old-price {
    color: #000;
    display: inline-block;
    padding-left: 5px;
    text-decoration: line-through;
}

/* LABELS */

.label {
    left: 0;
    bottom: 150px;
    position: absolute;
    padding: 8px 20px;
    color: #FFF;
    font-size: 24px;
}

.label.discount {
    background-color: red;
}

.label.green {
    background-color: green;
    left: 100px;
}

.label.green.attch {
    left: 0;
}

/* HEARTS */

.heart {
    height: 80px;
    width: 80px;
    background-color: white;
    right: 0;
    top: 20px;
    color:#000;
    font-size: 40px;
    text-align: center;
    line-height: 80px;
}